:root {
    --bs-primary: #aa1384;
    --bs-primary-rgb: 170, 19, 132;
    --bs-secondary: #a10c19;
    --bs-secondary-rgb: 161, 12, 25;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    }
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
    }
    .subheading {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
    }

    .expedu_icon{
        color: #495057;
    }
    .expedu_icon:hover {
        color: var(--bs-secondary);
    }

    .subheading{
        font-family: 'Noto Sans TC'sans-serif;
        text-transform: none;
    }

a{
    color:darkred;
    text-decoration: none;
}

.imco{
    color:#495057;
    text-decoration: none;
}

.imco:hover{
    color: #bd5d38;
    text-decoration: none;
}

.social-icons .social-icon:hover {
    background-color: var(--bs-secondary);
}